.info{
  color: rgba(0, 0, 0, 0.43);
  padding-right: 50px;
  text-align: right;
  display: inline-block;
  font-weight: bold;
}

.border {
  border: groove;
  border-radius: 5px;

}

.preview {
  width: 100%;
  height: auto;
  opacity: 0.7;
}

.preview:hover {
  width: 100%;
  height: auto;
  opacity: 1;
}

.background{
  background-image:
    url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/dTGsD6G/customers-in-a-supermarket-blurred-background_4d8zpaznx__F0000.png")
}

.icons{
  text-align: right;
}

.titolo{
  text-shadow: rgba(0, 0, 0, 0.73);
  font-family: Calibri;
}
