<div>
  <h1 class="titolo">
    Lista Prodotti
  </h1>

  <section class="icons">
    <button mat-icon-button (click)="setListaMod(true)">
      <mat-icon>list</mat-icon>
    </button>
    <button mat-icon-button (click)="setListaMod(false)">
      <mat-icon>view_comfy</mat-icon>
    </button>
  </section>

</div>

<div>

  <hr/>
<div>
  <mat-list *ngIf="lista===true">
    <mat-list-item *ngFor="let prod of listaProdotti" (click)="getSelected(prod)"class="leftBorder">
      <img matListAvatar src={{prod.img}}>
      <h3 matLine class="leftBorder"><strong>{{prod.nome}} </strong></h3>
      <p matLine>
        <span class="info"> Prezzo: {{prod.prezzoScontato | currency:'EUR'}} </span> <br>
        <span class="info"> Marca: {{prod.marca}} </span>
      </p>
      <hr>
    </mat-list-item>
  </mat-list>
</div>

  <mat-grid-list cols="5" rowHeight="1:1" gutterSize="5" *ngIf="lista===false">
    <mat-grid-tile *ngFor="let prod of listaProdotti" (click)="openProduct(prod)">
      <img class="preview" src={{prod.img}}>

      <!--<mat-grid-tile-header>-->
      <!---->
      <!--</mat-grid-tile-header>-->

      <mat-grid-tile-footer>
        <p>
          <span>{{prod.nome}}</span> <br>
          <span> Prezzo: {{prod.prezzoScontato | currency:'EUR'}} </span> <br>
        </p>
      </mat-grid-tile-footer>

    </mat-grid-tile>
  </mat-grid-list>

</div>
<!--<app-product-details [selected]="selected"></app-product-details>-->
