.info{
  color: rgba(0, 0, 0, 0.43);
  padding-right: 100px;
  float: right;
  display: inline-block;
  vertical-align: middle;
  font-weight: bold;
}

.border {
  border: groove;
  border-radius: 5px;

}

.preview {
  width: 100%;
  height: auto;
  opacity: 0.7;
}

.preview:hover {
  width: 100%;
  height: auto;
  opacity: 1;
}

.background{
  background-image:
    url("../../assets/Images/financial_background.png")
}

.icons{
  padding-right: 120px;
  display: inline-block;
  float: right;
}

.titolo{
  text-shadow: rgba(0, 0, 0, 0.73);
  padding-left: 170px;
}

h1{
  display: inline-block;
}

.leftBorder{
  padding-left: 100px;
}

hr {
  background-color: #000000;
}
