<!--<button mat-button routerLink="/lista"><img src="../../assets/Icons/ic_home_black_48dp_2x.png" height="96" width="96" class="icons"/>-->
<!--</button>-->
<h1 *ngIf="listProduct.length==0" class="noProduct">
  Nessun prodotto nel carrello <br> <br>
  <a routerLink="/lista"> Torna alla lista dei prodotti </a>

</h1>
<div class="allineamento">
  <mat-list>
    <mat-list-item *ngFor="let prod of listProduct">
      <img matListAvatar src={{prod.img}} class="preview">
      <h3 matLine><strong>{{prod.nome}} </strong></h3>
      <p matLine>
        <span> Prezzo: {{prod.prezzoScontato | currency:'EUR'}} </span> <br>
        <span> Quantità: {{prod.quantitaDaAcquistare}} </span>
      </p>

      <button mat-button (click)="reduce(prod)" matTooltip="Elimina uno" [matTooltipPosition]="position">
        <i class="material-icons">remove_circle</i>
      </button>

      <button mat-button (click)="delete(prod)" matTooltip="Elimina tutti" [matTooltipPosition]="position">
        <i class="material-icons">remove_shopping_cart</i>
      </button>

      <hr>
    </mat-list-item>
  </mat-list>

  <div *ngIf="listProduct.length != 0">
    <hr>

    <h3>
      <strong>Totale: {{totale | currency:'EUR'}}</strong>
    </h3>

  </div>
</div>
