<div class="page-header">
  <h1>PAGINA DI REGISTRAZIONE</h1>
</div>
<form (submit)="registration()" #f="ngForm">

  <div class="container">
    <br>
    <label><b>Username</b></label>
    <input class="form-control" type="email" placeholder="Inserisci Email" name="username" [(ngModel)]="user.username" pattern="[a-z\d]+([\.\_]?[a-z\d]+)+@[a-z\d]+(\.[a-z]+)" required autofocus>

    <label><b>Password</b></label>
    <input class="form-control" type="password" placeholder="Inserisci Password" name="psw" [(ngModel)]="user.password"  required>

    <label><b>Telefono</b></label>
    <input class="form-control" placeholder="Inserisci Telefono" name="tel" [(ngModel)]="user.telefono" pattern="[0-9]*" required>

    <label><b>Provincia</b></label>
    <input class="form-control" type="text" placeholder="Inserisci Provincia" name="pv" [(ngModel)]="user.provincia" pattern="[a-z A-Z]*" required>

    <label><b>Città</b></label>
    <input class="form-control" type="text" placeholder="Inserisci Città" name="citta" [(ngModel)]="user.citta" pattern="[a-z A-Z]*" required>

    <label><b>CAP</b></label>
    <input class="form-control" type="text" placeholder="Inserisci CAP" name="cap" [(ngModel)]="user.cap" pattern="[a-z A-Z]*" required>

    <label><b>Indirizzo</b></label>
    <input class="form-control" type="text" placeholder="Inserisci Indirizzo" name="via" [(ngModel)]="user.via" required>


    <div class="container" style="background-color:#f1f1f1">
      <br>
      <button type="submit" class="btn btn-success"  [disabled]="!f.form.valid"> Registrati </button>
    </div>
  </div>
</form>
