<div>
  <hr>
  <button mat-raised-button color="accent" class="buttons" (click)="aggiungiProdotto(data.prodotto)"
          [disabled]="data.prodotto.quantitaDisponibile<=0">
    <mat-icon>add_shopping_cart</mat-icon>
    Aggiungi al carrello <span *ngIf="data.prodotto.comprato">({{data.prodotto.quantitaDaAcquistare}})</span>
  </button>

  <div class="contenitore">
    <img src={{data.prodotto.img}} class="image">
  </div>

  <div class="dettagli">
    <h2> {{data.prodotto.nome}} </h2>
    <h4> Disponibili: {{data.prodotto.quantitaDisponibile}} </h4>
    <br>

    <div *ngIf="data.prodotto.offerta == 0"><strong> Prezzo:</strong> {{data.prodotto.prezzoIvato}} &euro;</div>

    <h4 *ngIf="data.prodotto.offerta != 0">
      <del>Prezzo consigliato: {{data.prodotto.prezzoIvato}} &euro;</del>
      <span class="sconto"> SCONTO: -{{data.prodotto.offerta}} %</span>
      <br>
      Prezzo: &euro; {{data.prodotto.prezzoScontato}}
    </h4>
    <hr>
    <div>
      <h3>Dettagli prodotto: </h3>
      <h5>
        <strong>Marca: </strong> {{data.prodotto.marca}}
        <br><br>
        <strong>Data di Scadenza: </strong> {{data.prodotto.dataScadenza}}
        <br><br>
        <strong>Categoria: </strong> {{data.prodotto.categoria}}
        <br><br>
        <strong>Prezzo senza IVA: </strong> {{data.prodotto.prezzoSenzaIva}}
      </h5>
    </div>
  </div>
</div>
