<div>
  <hr>
  <!--PULSANTE PER TOGGLE-->
  <button mat-raised-button class="smallButton" (click)="toggle = !toggle" *ngIf="loggedUser">
    <mat-icon ><i class="material-icons">add_circle_outline</i></mat-icon>
  </button>

  <!--PULSANTE PER REGISTRAZIONE SE NON LOGGATO-->
  <button mat-raised-button color="warn" class="buttons" (click)="faiLoggare()"
          *ngIf="!loggedUser">
    <mat-icon>add_shopping_cart</mat-icon>
    Accedi o Registrati
  </button>

  <!--PULSANTE PER AGGIUNTA DEL PRODOTTO AL CARRELLO PER LA PRIMA VOLTA-->
  <button mat-raised-button color="accent" class="buttons" (click)="aggiungiProdotto(data.prodotto)"
          *ngIf="prodottoDaCarrello.quantitaDaAcquistare === undefined && loggedUser && !toggle"
          [disabled]="data.prodotto.quantitaDisponibile<=0 ||
          data.prodotto.quantitaDaAcquistare >= data.prodotto.quantitaDisponibile">
    <mat-icon>add_shopping_cart</mat-icon>
    Aggiungi al carrello
  </button>

  <!--PULSANTE PER VISUALIZZARE LA QUANTITA' ACQUISTATA-->
  <button mat-raised-button color="accent" class="buttons" (click)="aggiungiProdotto(data.prodotto)"
          *ngIf="prodottoDaCarrello.quantitaDaAcquistare>=1 && !toggle"
          [disabled]="data.prodotto.quantitaDisponibile<=0 ||
          prodottoDaCarrello.quantitaDaAcquistare >= data.prodotto.quantitaDisponibile">
    <mat-icon>add_shopping_cart</mat-icon>
    Aggiunto al carrello <span>({{prodottoDaCarrello.quantitaDaAcquistare}})</span>
  </button>

  <!--PULSANTE PER CONFERMARE L'AGGIUNTA DELLA QUANTITA' SCELTA-->
  <button mat-raised-button color="basic" class="buttons" (click)="aggiungiQuantita(compra, data.prodotto)"
          *ngIf="toggle"
          [disabled]="(data.prodotto.quantitaDisponibile<=0 ||
          prodottoDaCarrello.quantitaDaAcquistare >= data.prodotto.quantitaDisponibile)&&data.prodotto.quantitaDaAcquistare<=0">
    <mat-icon>add_shopping_cart</mat-icon>
    Aggiungi {{compra}} al carrello
  </button>

  <!--INIZIA LA SEZIONE DEI DETTAGLI-->
  <div class="contenitore">
    <img src={{data.prodotto.img}} class="image">
  </div>

  <div class="dettagli">
    <h2> {{data.prodotto.nome}} </h2>

    <!--PULSANTI PER MODIFICARE LA QUANTITA'-->
    <span class="quantita" *ngIf="toggle">
      <button mat-button (click)="compra=compra-1" class="mediumButton" [disabled]="compra<=0">
        <mat-icon><i class="material-icons">remove</i></mat-icon>
      </button>
      Quantità: {{compra}}
      <button mat-button (click)="compra = compra+1" class="mediumButton"
              [disabled]="compra+prodottoDaCarrello.quantitaDaAcquistare>=data.prodotto.quantitaDisponibile">
        <mat-icon><i class="material-icons">add</i></mat-icon>
      </button>
    </span>
    <!--FINE PULSANTI PER QUANTITA'-->

    <!--SEZIONE PRINCIPALE CON PREZZI E OFFERTE-->
    <h4> Disponibili: {{data.prodotto.quantitaDisponibile}} </h4>
    <br>

    <div *ngIf="data.prodotto.offerta == 0"><strong> Prezzo:</strong> {{data.prodotto.prezzoIvato | currency:'EUR'}} </div>

    <h4 *ngIf="data.prodotto.offerta != 0">
      <del>Prezzo consigliato: {{data.prodotto.prezzoIvato | currency:'EUR'}}</del>
      <span class="sconto"> SCONTO: -{{data.prodotto.offerta}} %</span>
      <br>
      Prezzo: {{data.prodotto.prezzoScontato | currency:'EUR'}}
    </h4>
    <hr>

    <!--SEZIONE DEI DETTAGLI AGGIUNTIVI-->
    <div>
      <h3>Dettagli prodotto: </h3>
      <h5>
        <strong>Marca: </strong> {{data.prodotto.marca}}
        <br><br>
        <strong>Data di Scadenza: </strong> {{data.prodotto.dataScadenza}}
        <br><br>
        <strong>Categoria: </strong> {{data.prodotto.categoria}}
        <br><br>
        <strong>Prezzo senza IVA: </strong> {{data.prodotto.prezzoSenzaIva | currency:'EUR'}}
      </h5>
    </div>
  </div>
</div>
