.contenitore{
  width: 300px;
}

.image {
  width: 300px;
  max-width: 300px;
  height: auto;
  /*max-height: 300px;*/
  float: left;
  border-radius: 15px;
  margin: 0 10px 20px 0;
  /*padding: 0 20px 20px 0;       !*top   right   bottom    left*!*/

}

.sconto {
  color: red;
  font-style: italic;
}

.buttons {
  position: relative;
  float: right;
}

.dettagli {
  margin-left: 310px;
}

.quantita{
  float: right;
}

.buttonClicked {
  position: relative;
  float: right;
  background-color: rgba(0, 0, 0, 0.28);
}

.smallButton{
  min-width: 36px !important;
  position: relative;
  float: right;
  padding: 0 36px 0 36px !important;
}

.mat-button.mat-small {
  min-width: 1px;
}

.button.smallButton.mat-button{
  min-width: 36px !important;
  position: relative;
  float: right;
  padding: 0 36px 0 36px !important;
}
