<form (submit)="login()">
  <div class="imgcontainer">
    <h1 class="avatar"> LOGIN  </h1>
  </div>

  <div class="container">
    <label><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" [(ngModel)]="user.username" required autofocus>

    <label><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" [(ngModel)]="user.password"  required>

    <button type="submit">Login</button>
    <input type="checkbox" checked="checked"> Remember me
  </div>

<div class="container" style="background-color:#f1f1f1">
    <button type="button" class="cancelbtn" routerLink='/registration'> Registrati </button>
  </div>
</form>

