<body>
<form (submit)="login()">
  <div class="imgcontainer">
    <h1 class="avatar"> LOGIN  </h1>
  </div>

  <div class="container">
    <label><b>Username</b></label>
    <input type="text" placeholder="Inserisci Username" name="username" [(ngModel)]="user.username" pattern="[a-z\d]+([\.\_]?[a-z\d]+)+@[a-z\d]+(\.[a-z]+)" required autofocus>

    <label><b>Password</b></label>
    <input type="password" placeholder="Inserisci Password" name="psw" [(ngModel)]="user.password"  required>

    <button type="submit">Login</button>
    <input type="checkbox" checked="checked"> Ricordami
  </div>

  <div class="container" style="background-color:#f1f1f1">
    <button type="button" class="cancelbtn" routerLink='/registration'> Registrati </button>
  </div>
</form>
</body>
