<body class="sfondo">
<form (submit)="login()">
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
  </head>
  <div class="imgcontainer">
    <h1 class="avatar"> LOGIN  </h1>
  </div>

  <div class="container">
    <label><b>Username</b></label>
    <input type="text" placeholder="Inserisci Username" name="username" [(ngModel)]="user.username" pattern="[a-z\d]+([\.\_]?[a-z\d]+)+@[a-z\d]+(\.[a-z]+)" required autofocus>

    <label><b>Password</b></label>
    <input type="password" placeholder="Inserisci Password" name="psw" [(ngModel)]="user.password"  required>

    <button type="submit">Login</button>
    <input type="checkbox" checked="checked"> Ricordami
  </div>

  <div class="container" >
    <button type="button" class="cancelbtn" routerLink='/registration'> Registrati </button>
  </div>
</form>
</body>

