<mat-toolbar color="primary">
  <span>SUPERMARKET</span><div _ngcontent-c1="" class="flex-spacer"></div>


  <button mat-button  [matMenuTriggerFor]="menu">Menu</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/lista">Home</button>


    <button mat-menu-item routerLink="/carrello" *ngIf="logged">Carrello</button>
    <hr>
    <button mat-menu-item routerLink="/login" *ngIf="!logged">Login</button>
    <button mat-menu-item routerLink="/register" *ngIf="!logged">Registrati</button>
    <button mat-menu-item (click)="logout()" *ngIf="logged" >Logout</button>
  </mat-menu>
</mat-toolbar>
<router-outlet></router-outlet>
