<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">



  <!-- Website Font style -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>

</head>

<body>
<div class="container">
  <div class="row main">
    <div class="main-login main-center">
      <h5>REGISTRAZIONE NUOVA CARTA</h5>
      <form (submit)="addCard()" #f="ngForm">

        <div class="form-group">
          <label class="cols-sm-2 control-label">Numero Carta</label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-credit-card" aria-hidden="true"></i></span>
              <input class="form-control" placeholder="Inserisci il numero della carta" name="numcarta" [(ngModel)]="creditCard.numero" type="text" required autofocus>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="cols-sm-2 control-label">Data di scadenza</label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-calendar" aria-hidden="true"></i></span>
              <input class="form-control" placeholder="Inserisci data di scadenza (MM/AAAA)" name="scadenza" [(ngModel)]="creditCard.scadenza" type="text" required>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="cols-sm-2 control-label">CCV</label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-credit-card" aria-hidden="true"></i></span>
              <input class="form-control" placeholder="Inserisci codice CCV (ultime 3 cifre)" name="ccv" [(ngModel)]="creditCard.ccv" pattern="[0-9]*" required>
            </div>
          </div>
        </div>


        <div class="form-group">
          <label class="cols-sm-2 control-label">Credito</label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-euro" aria-hidden="true"></i></span>
              <input class="form-control" type="text" placeholder="Inserisci credito disponibile sulla carta" name="credito" [(ngModel)]="creditCard.credito" type="num" required >
            </div>
          </div>
        </div>




        <div class="form-group "> <br>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
         <button type="submit" class="btn btn-info btn-lg" [disabled]="!f.form.valid" > Salva
            <span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span> </button>
        </div>
      </form>
    </div>
  </div>
</div>
</body>
</html>
