<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">



  <!-- Website Font style -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>

</head>

<body>
<div class="container">
  <div class="row main">
    <div class="main-login main-center">
      <h5>REGISTRAZIONE NUOVA CARTA DI CREDITO</h5>
      <form (submit)="addCard()" #f="ngForm">

        <div class="form-group">
          <label class="cols-sm-2 control-label">Numero Carta</label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
              <input class="form-control" placeholder="Inserisci numero" name="numcarta" [(ngModel)]="creditCard.numero" pattern="[0-9]*" required autofocus>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="cols-sm-2 control-label">Data di scadenza</label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-lock" aria-hidden="true"></i></span>
              <input class="form-control" placeholder="Inserisci scadenza" name="scadenza" [(ngModel)]="creditCard.scadenza"  required>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="cols-sm-2 control-label">CCV</label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i></span>
              <input class="form-control" placeholder="Inserisci CCV" name="tel" [(ngModel)]="creditCard.ccv" pattern="[0-9]*" required>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="cols-sm-2 control-label">Credito disponibile</label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="	glyphicon glyphicon-globe" aria-hidden="true"></i></span>
              <input class="form-control" type="number" placeholder="Inserisci credito" name="pv" [(ngModel)]="creditCard.credito" pattern="[0-9]*" required>
            </div>
          </div>
        </div>




        <div class="form-group "> <br>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
          <button type="submit" class="btn btn-info btn-lg" [disabled]="!f.form.valid"(click)="closedDialog()" > Salva
            <span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span> </button>
        </div>
      </form>
    </div>
  </div>
</div>
</body>
</html>
